body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
  background-color: #ACBEBE;
  font-family: 'Arsenal', sans-serif;
}
main {
  flex: 1 0 auto;
}
.nav-extended, .page-footer {
  background-color: #20232A
}
.nav-extended {
  border-bottom: 7px solid #A01D26
}
.page-footer {
  border-top: 7px solid #A01D26
}
thead {
  border-bottom: 2px solid #20232A;
  font-weight: bolder;
}
.active {
  color: green
}
.page-title {  
  text-align: center;
  margin-top: 0;
  padding-top: 25px;
  padding-bottom: 5px;
  color: #F4F4EF;
  letter-spacing: 2px
}
.text {
  text-align: center;
  color: #F4F4EF
}
.form, .table  {
  border: 1px solid #A01D26;
  border-radius: 4px;
  background-color: rgb(212, 212, 212);
}
.form {
  margin-bottom: 2em;
}
.table {
  border-collapse: separate !important;
  margin-bottom: 2em;
  margin-top: 2em;
}
.fake-panel-header {
  padding: 10px;
  font-size: 22px;
  background-color: #20232A;
  color: #F4F4EF;
  margin-bottom: 5px;
  letter-spacing: 1px
}
.waves-light, .waves-light:hover, .waves-light:focus {
  color: #F4F4EF;
  background-color: #20232A;
  font-family: 'Arsenal', sans-serif;
  letter-spacing: 1px;
}
button {
  margin-left: 40px;
}
/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #A01D26 !important;
 }
 .prefix.active {
  color: #A01D26 !important;
}
/* label underline focus color */
 .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #A01D26 !important;
  box-shadow: 0 1px 0 0 #A01D26 !important;
 }