body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}
main {
  flex: 1 0 auto;
}
.page-title {  
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.white-text {
  text-align: center;
}

.form {
  border: 1px solid black;
  border-radius: 4px
}
.table {
  border-collapse: separate !important;
  border: 1px solid black;
  border-radius: 4px
}
.fake-panel-header {
  background-color: blue;
}